@model IEnumerable<Tareas.Models.Tarea>  

<h3>LISTA DE TAREAS REGISTRADAS</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>

                <td>
                    <a href="@Url.Action("Detalles", "Inicio", new { id = tarea.Id })" class="btn btn-info">Detalles</a> |
                    <a href="@Url.Action("Editar", "Inicio", new { id = tarea.Id })" class="btn btn-warning">Editar</a> |

                    <!-- Formulario para eliminar -->
                    <form action="@Url.Action("Eliminar", "Inicio", new { id = tarea.Id })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }

        
    </tbody>
</table>

<!-- Enlace para crear una nueva tarea -->
<a href="@Url.Action("Crear", "Inicio")" class="btn btn-success">Crear Nueva Tarea</a>












